//@extend SCSS Variables for style customization

$redorange-color: #fd2b34;
$graylight-color:#dedbdb;
$lightpink-color:#ff9495;
$black-color:#010101;
$purple-color: #9f60b5;
$orange-color: #ff6000;
$light-orange-color: #f5a77d;
$sea-blue-color: #0ab596;
$sky-blue-color: #6dace6;
$dark-orange-color: #ff3e3e;
$dark-blue-color: #194eb0;
$light-yellow-color: #ffd200;
$red-color: #e44049;


