@import 'variables';

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: normal; 
}

body{
    margin: 0;
    background: linear-gradient(to right, red 29.2%, white 0%);
    height:100vh;
}

//wrapper-container
.wrapper-container {
    width:1200px;
    margin: 0 auto;
}

img {
    width:100%;
}

//Hamburger menu position absolute with wrapper-container as parent
.hamburger-menu {
    color:#fff;
    font-size: 2.5rem;
    margin-top:2rem;
}


//layout header
header {
    display: grid;
    grid-template-columns: 316px 270px  1fr;
    grid-template-areas:
    'logo search nav ';
}
//logo
.logo {
    grid-area: logo;
    display: flex;
    align-items: center
}
//logo wrapper
.logo-wrapper {
    margin-left:4.5rem;
    h2 {
        font-size:2rem;
        text-transform:uppercase;
        color:#fff;
    }
    h3 {
        font-size:18px;
        text-transform:uppercase;
        color:#fff;
    }
}

//search bar icon 
.search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 46px;
    transition:all 1s ease-in-out;

    form {
        position:relative;
        .fa-search {
            position: absolute;
            width: 10px;
            top: 4px;
            right:13px;
        }
        
        input[type=text] {
            width: 100px;
            opacity: 1;
            box-sizing: border-box;
            border: 1px solid $black-color;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            padding: 0.1rem 1.5rem 0.1rem 0.5rem;
            transition: width 0.9s;
            &:focus {
                width: 150px;
            }
            
        }
        // .activate {
        //    width: 150px !important;
        // }
            
    }

}

    


//navigation layout
nav {
    grid-area: nav;
    //flex is for icon
    display: flex;
    //center vertical the icon
    align-items: center;

    //main nav ul
    ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    a {
        display: block;
        padding: 1rem;
        
        position: relative;
        text-decoration:none;
        color: $black-color;
        font-weight: 600;
        &:before{
            background: #ff4157;
            -webkit-transition: width 2s; 
            bottom: 7px;
            content: "";
            height: 2px;
            left: 17px;
            position: absolute;
            width: 0%;
            transition: width 0.9s;
           
        }


        &:hover {
            color: $redorange-color;
           
            &:before {
                width: 80%;
                transition: width 0.9s;
                
            }
        }
    }
    //User Account register
    .account {
        margin-left:6rem;
    }
}








    
